PORT=

# DB 연결 (infra/prisma.ts에서 사용)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Prisma CLI(migrate/generate)용 접속 문자열
DATABASE_URL=

JWT_ACCESS_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
